.ant-form-item-label label {
    white-space: normal; /* Позволяет тексту переноситься на следующую строку */
  }
  
  .ant-form-item-control-input {
    max-width: none; /* Убираем ограничение по ширине если оно есть */
    min-width: 250px; /* Устанавливаем минимальную ширину поля ввода */
  }
  
  .ant-input,
  .ant-select-selector {
    width: 100%; /* Задаём ширину поля ввода и выпадающего списка */
    min-width: 250px; /* Устанавливаем минимальную ширину для полей ввода и выпадающих списков */
  }
  